@charset "utf-8";


body {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}




header {
    color:black;
    text-align: center;
    padding: 10px;
    margin: 10px;
    
    

}

.element-class {
    border-radius: 10px;
    border: 2px solid rgb(214, 156, 244);
    background-color: rgb(214, 156, 244);
    padding: 10px;
}

main {
    color: black;
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgb(214, 156, 244);
    background-color: rgb(214, 156, 244);
    padding: 10px;
    margin: 10px;
    width: 80%;
    
}