@charset "utf-8";

body{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

audio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.text-container {
    margin-top: 20px;
    text-align: center;

}

#audio-text {
    font-size: 16px;
    color: white;
}

body {
    background-image: url('../MyspaceVibes.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
}


li a[href="https://github.com/W0491348"] {
    position: relative; /* Enable positioning */
    right: 30px; /* Move the <li> 20 pixels to the right */
    top: 10px; /* Move the <li> 10 pixels down */
    font-size: 20px;
    color: rgb(242, 185, 100);

}
li a[href="https://icanhas.cheezburger.com/"] {
    position: relative; /* Enable positioning */
    right: 20px; /* Move the <li> 20 pixels to the right */
    top: 10px; /* Move the <li> 10 pixels down */
    font-size: 20px;
    color: rgb(242, 185, 100);
    
}

li a[href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"] {
    position: relative; /* Enable positioning */
    right: 10px; /* Move the <li> 20 pixels to the right */
    top: 10px; /* Move the <li> 10 pixels down */
    font-size: 20px;
    color: rgb(242, 185, 100);
}


main {
    
    text-align: center;
    color: rgb(242, 185, 100);
}

header {
    text-align: center;
    color: rgb(242, 185, 100);

    
}

footer {
    text-align: center;
    color: rgb(242, 185, 100);
}
